target
**/node_modules
**/.next
**/dist
.anchor
.local
test-ledger
.git
.github
docs
*.log
.env
.env.local
config/relayer-keypair.json
config/authority-keypair.json
config/oracles
config/customer.json
config/treasury-slice.json
config/slices.json
**/.DS_Store
